.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: white; Adjust the background color as needed */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
  margin-right: 0.75rem;
}

.nav {
  display: flex;
  gap: 3.5rem; /* Space between navigation links */
}

.navLink {
  text-decoration: none;
  color: black; /* Adjust the color as needed */
  position: relative;
  font-size: 1.2rem;
  font-family: "Sofia", cursive;
  font-weight: 600;
  font-style: normal;
}

.navLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #01b3ff; /* Adjust the underline color as needed */
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navLink:hover::after {
  width: 100%;
}

.actions {
  display: flex;
  gap: 1rem; /* Space between sign-up and login buttons */
}

.actionButton {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.signupButton {
  background-color: #01b3ff; /* Adjust the background color as needed */
  color: white;
}

.loginButton {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.loginButton:hover {
  background-color: black;
  color: white;
}

.signupButton:hover {
  background-color: #000000; /* Adjust the hover background color as needed */
}
