@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    to right,
    #5caaf8,
    #c285fb
  ); /* Adjusted colors for a more vibrant gradient */
  min-height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}
